<%= turbo_stream.replace dom_id(@task), partial: "tasks/task", locals: { task: @task } %>

<%= turbo_stream.update "flash_messages" do %>
  <%= render "layouts/flash_message" %>
<% end %>

<%#= turbo_stream.replace "progress_bar", partial: "tasks/progress_bar", locals: { progress_percentage: @progress_percentage } %>

<%= turbo_stream.replace "progress_bar" do %>
  <div class="progress" data-controller="progress" data-progress-percentage-value="<%= progress_percentage %>">
    <div class="progress-bar" role="progressbar" style="width: <%= progress_percentage %>%"
      aria-valuenow="<%= progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
      <%= progress_percentage %>%
    </div>
  </div>
<% end %>
